

<div class="parentDiv">
    <h1>
          I am First Component
    </h1>
  <div>
      <span>First Name:-</span>
      <span>a</span>
   </div>
   <div>
      <span>Last Name:-</span>
      <span>a</span>
   </div>
   <div>
      <span>Full Name:-</span>
      <span>a</span>
   </div>

</div>

<!-- <button (click)="exportPDF()">exportPDF</button> -->
<app-implement-signal></app-implement-signal>

<app-input-field
   [mandetory]="true"
   fieldLabel="Check fieldLabel"
   placeholder="Check placeholder"
></app-input-field>

    
      
      
      <div class="container">
        <div id="abc" #abc="">
          <h2>Angular HTML To PDF Example</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i>John</i></td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td><h1>nilsen@example.com</h1></td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Smith</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Zalmers</td>
                <td>Nilsen</td>
                <td>nilsen@example.com</td>
              </tr>
              <tr>
                <td>Zoller </td>
                <td>Dooley</td>
                <td>zoller@example.com</td>
              </tr>

            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" (click)="exportPDF();">Export To PDF</button>
      </div>
      
 
 
 
 
