

<h1></h1>
<form [formGroup]="myForm">
    <app-input-field  formControlName="checkFormVtrl1" placeholder=" First value"></app-input-field>
    <!-- 4 or 1.Add formArrayName  auther and div 
    settup  auther in type script  -->
    <h1> Book Author</h1>
    <div  formArrayName="auther">

       <ng-container class="dynamicControl" *ngFor="let auth of auther.controls; let i=index " [formGroupName]="i">
            <app-input-field  placeholder="First Name"  formControlName="first_Name"></app-input-field>
            <!--<app-input-field  placeholder="Last Name"  formControlName="last_Name"></app-input-field> -->
            <button mat-raised-button color="primary"  (click)="removeAuther(i)" > Remove Auther </button>
        </ng-container>
        <div>
            <button mat-raised-button color="primary" (click)="addMore()" > Add Auther </button>
        </div>
   </div>
</form>

<button class="btn" mat-raised-button color="primary"(click)="onSave()">Submit</button>

