<div class="matfieldwrap">
  <mat-label *ngIf="fieldLabel">{{ fieldLabel }} <span class="asterisk">*</span></mat-label>
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <input matInput [value]="inputValue" type="text" [placeholder]="placeholder" autocomplete="off" class="ainput" [matDatepicker]="picker"
      (dateInput)="selectionChange($event)" [min]="minStartDate">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <!-- <mat-icon matDatepickerToggleIcon>
        <img src="../../../../assets/icons/calender.svg" alt="" width="32" />
      </mat-icon> -->
      <span>Click</span>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>