<p>images-operation works!</p>

<mat-tab-group>
    <mat-tab label="Image Uploade"><app-image-uploade></app-image-uploade> </mat-tab>
    <mat-tab label="Image Size Validation"> <app-image-size-validation></app-image-size-validation> </mat-tab>
    <mat-tab label="Image Size With Crope"> <app-image-size-with-crope></app-image-size-with-crope> </mat-tab>
    <mat-tab label="Image Size With CropeAndCamera"><app-image-size-with-crope-and-camera></app-image-size-with-crope-and-camera></mat-tab>
  </mat-tab-group>
  
