<div class="sidebar-container">
   <mat-toolbar color="primary" class="sidebar-toolbar">
      <!-- <button mat-icon-button routerLink="reactiveForm"> Form</button> -->
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
   </mat-toolbar>
  <mat-sidenav-container class="sidebar-sidenav-container">
    <mat-sidenav #snav mode="side" fixedTopGap="56" opened="true">
      <mat-nav-list>
        <mat-list-item><span>Animated counter</span></mat-list-item>
        <mat-list-item routerLink="components/genrate-excel"><span>Genrate Excel</span></mat-list-item>
       <mat-list-item routerLink="formatdate">Date Formate</mat-list-item>
        <mat-list-item routerLink="first"> Globle Form</mat-list-item>
        <mat-list-item routerLink="dashboard">
           <mat-icon>dashboard</mat-icon><span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="globleTableData">Dynamic table</mat-list-item>
        <mat-list-item  routerLink="testgraf">Test Graf</mat-list-item>
        <mat-list-item routerLink="components/min-max-Date">Min-Max Date</mat-list-item>
        <mat-list-item routerLink="components/form">Exercise Form</mat-list-item>
        <mat-list-item routerLink="components/form-array"> Form Array</mat-list-item>
        <mat-list-item routerLink="components/javascript-exercise">Javascript Exercise</mat-list-item>
        <mat-list-item routerLink="components/rxjs-Operators">Standerd Operator </mat-list-item>
        <mat-list-item routerLink="components/student-list">Students</mat-list-item>
        <mat-list-item routerLink="reactiveForm">Form </mat-list-item>
        <mat-list-item routerLink="apiTest">Api Test </mat-list-item>
        <mat-list-item routerLink="mailComponent">Send Mail</mat-list-item>
        <mat-list-item routerLink="mailComponent">Send Mail</mat-list-item>
        <mat-list-item routerLink="mailComponent">Send Mail</mat-list-item>
        <mat-list-item routerLink="mailComponent">Send Mail</mat-list-item>
        <mat-list-item routerLink="fileUplode">Multiple File Uplode</mat-list-item>
        <mat-list-item routerLink="datepicker"> Date Picker</mat-list-item>
        <mat-list-item routerLink="students">Student Info </mat-list-item>
        <mat-list-item> </mat-list-item>
      </mat-nav-list>
   </mat-sidenav>
    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- Implements Loders -->
<ng-http-loader></ng-http-loader>