<p></p>

<p>Please check the  First Component Ts File code (in App) To understand the Working of interface</p>
<!-- <ng-template *ngIf="isClicked">
  <app-cloble-form [receivedControl] ="control"></app-cloble-form>
</ng-template> -->
<div *ngIf="isClicked">
   <app-cloble-form [receivedControl] ="control"></app-cloble-form>
</div>
<p></p>
<button mat-raised-button color="primary" (click)="addForm()">Add Form</button>


<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container> -->
