<p>dashboard works!</p>
<app-globle-table 
(tableActions)="actions()"
(tableRowActions)="actionOntableRow()"
[dataset]="data"
[columns]="columns"
[isMenu]="true"
[menuOption]="desizeredMenuOption"
[menuColumnId]="'symbol'"
>
<!--  -->

</app-globle-table>
<app-action-button 
(ClickMe)="receiveData($event)"
 btnTitle="I am  Button" buttonSize="medium-button">
</app-action-button>

<h1>Commann  Practise here</h1>
 <p>comman Button</p>
 <h1>Multiple file Uplode</h1>
<app-multi-file-uplode></app-multi-file-uplode>
<h1>Dynamic Control Practise</h1>

<!-- <form [formGroup]="myForm">
    <div  formArrayName="auther">
        <ng-container class="dynamicControl"   *ngFor="let auth of auther.controls; let i=index ">
            <input type="text" formControlName="{i}"/>
            <button mat-raised-button color="primary"  >
                
                Remove Auther
              </button>
        </ng-container>
        <div>
            <button mat-raised-button color="primary" (click)="addMore()" >
                (click)="removeAuther(i)"
               Add Skiles
             </button>
        </div>
        
       
        
    
    </div>
</form> -->